</div>
{{#is current_locale.name '简体中文'}}
<sider class="sider_fix">
  <a href="https://accounts.shoplazza.com/register" >
    <div class="sider_item border-bottom radius-top">
      <svg xmlns="http://www.w3.org/2000/svg" width="29" height="28" viewBox="0 0 29 28" fill="none">
        <g id="Group 10001">
          <path id="Subtract" fill-rule="evenodd" clip-rule="evenodd" d="M26.4003 9.9445V9.98957V11.8151C26.4003 12.5149 26.2349 13.2051 25.9171 13.831C25.5994 14.4569 25.138 15.0013 24.5696 15.4212V22.6333C24.5696 23.1115 24.3767 23.5701 24.0334 23.9083C23.69 24.2464 23.2244 24.4364 22.7388 24.4364H6.26188C5.77633 24.4364 5.31067 24.2464 4.96733 23.9083C4.624 23.5701 4.43111 23.1115 4.43111 22.6333V15.4212C3.86268 15.0013 3.40131 14.4569 3.08354 13.831C2.76578 13.2051 2.60034 12.5149 2.60034 11.8151V9.9445C2.60528 9.92595 2.60911 9.90714 2.61178 9.88815V9.85434C2.61751 9.84307 2.62037 9.83181 2.62323 9.82054C2.62609 9.80927 2.62895 9.798 2.63467 9.78673V9.76419L4.27092 4.10718C4.38368 3.73213 4.61578 3.40266 4.93303 3.16732C5.25027 2.93197 5.63588 2.80321 6.03303 2.79999H22.9676C23.3648 2.80321 23.7504 2.93197 24.0677 3.16732C24.3849 3.40266 24.617 3.73213 24.7298 4.10718L26.366 9.76419V9.78673C26.3717 9.798 26.3746 9.80927 26.3775 9.82054C26.3803 9.83181 26.3832 9.84307 26.3889 9.85434V9.88815C26.3916 9.90714 26.3954 9.92595 26.4003 9.9445ZM9.92342 10.9136H4.43111V11.8151C4.43079 12.2693 4.54707 12.7161 4.76912 13.1141C4.99118 13.512 5.31181 13.8483 5.70121 14.0915C5.77471 14.1244 5.84387 14.166 5.90717 14.2154C6.32592 14.4306 6.79393 14.5357 7.26598 14.5207C7.73803 14.5056 8.19817 14.371 8.60194 14.1296C9.0057 13.8883 9.33946 13.5485 9.57095 13.1431C9.80243 12.7377 9.92383 12.2803 9.92342 11.8151V10.9136ZM16.4422 13.7275C16.9572 13.2203 17.2465 12.5324 17.2465 11.8151V10.9136H11.7542V11.8151C11.7542 12.5324 12.0435 13.2203 12.5585 13.7275C13.0735 14.2347 13.772 14.5197 14.5003 14.5197C15.2287 14.5197 15.9272 14.2347 16.4422 13.7275ZM23.0935 14.2154C23.1568 14.166 23.226 14.1244 23.2995 14.0915C23.6889 13.8483 24.0095 13.512 24.2316 13.1141C24.4536 12.7161 24.5699 12.2693 24.5696 11.8151V10.9136H19.0773V11.8151C19.0768 12.2803 19.1982 12.7377 19.4297 13.1431C19.6612 13.5485 19.995 13.8883 20.3987 14.1296C20.8025 14.371 21.2627 14.5056 21.7347 14.5207C22.2068 14.5357 22.6748 14.4306 23.0935 14.2154ZM6.6566 4.96369C6.20849 4.96369 5.84523 5.32695 5.84523 5.77505C5.84523 6.22315 6.20849 6.58641 6.6566 6.58641H22.343C22.7911 6.58641 23.1543 6.22315 23.1543 5.77505C23.1543 5.32695 22.7911 4.96369 22.343 4.96369H6.6566Z" fill="#FF0000"/>
        </g>
      </svg>
      <div class="sider_text">我要开店</div>
    </div>
	</a>
    <div class="sider_item radius-bottom">
    	<svg xmlns="http://www.w3.org/2000/svg" width="29" height="28" viewBox="0 0 29 28" fill="none">
        <g id="Group 10002">
          <path id="Union" fill-rule="evenodd" clip-rule="evenodd" d="M20.3935 10.1039C20.2541 10.097 20.1147 10.0943 19.9727 10.0943C14.9408 10.0943 10.8594 13.6191 10.8594 17.9666C10.8594 18.6786 10.972 19.3685 11.1771 20.024C10.9546 20.0364 10.7307 20.0454 10.5049 20.0454C9.39845 20.0454 8.33353 19.8907 7.33901 19.6055C7.28205 19.5888 7.16884 19.555 7.16884 19.555L3.55195 21.4536L4.51895 18.3326L4.42713 18.2732C2.03939 16.698 0.5 14.2152 0.5 11.423C0.5 6.66054 4.97875 2.79999 10.5049 2.79999C15.5097 2.79999 19.6563 5.96715 20.3935 10.1039ZM15.3904 8.4534C15.3904 7.67848 14.7625 7.05139 13.9864 7.05139C13.2097 7.05139 12.5818 7.67848 12.5818 8.4534C12.5818 9.22685 13.2097 9.85534 13.9864 9.85534C14.7625 9.85534 15.3904 9.22685 15.3904 8.4534ZM5.61874 8.4534C5.61874 9.22685 6.24735 9.85534 7.02334 9.85534C7.80011 9.85534 8.42942 9.22685 8.42942 8.4534C8.42942 7.67848 7.80011 7.05139 7.02334 7.05139C6.24735 7.05139 5.61874 7.67848 5.61874 8.4534ZM20.0491 25.3028C15.3804 25.3028 11.5954 22.041 11.5954 18.0175C11.5954 13.9947 15.3804 10.7336 20.0491 10.7336C24.7162 10.7336 28.5 13.9947 28.5 18.0175C28.5 20.3774 27.1985 22.4741 25.1826 23.8049L25.1049 23.8553L25.9211 26.4921L22.8665 24.8871C22.8665 24.8871 22.7713 24.9168 22.7231 24.9299C21.8827 25.1716 20.9833 25.3028 20.0491 25.3028ZM22.9885 14.3255C22.333 14.3255 21.8023 14.8552 21.8023 15.5085C21.8023 16.1632 22.333 16.6936 22.9885 16.6936C23.6452 16.6936 24.176 16.1632 24.176 15.5085C24.176 14.8552 23.6452 14.3255 22.9885 14.3255ZM17.1068 14.3255C16.4513 14.3255 15.9199 14.8552 15.9199 15.5085C15.9199 16.1632 16.4513 16.6936 17.1068 16.6936C17.7629 16.6936 18.2943 16.1632 18.2943 15.5085C18.2943 14.8552 17.7629 14.3255 17.1068 14.3255Z" fill="#FF0000"/>
        </g>
      </svg>
      <div class="sider_text">微信咨询</div>
      <div class="wechat">
        <div class="word">添加店匠客服微信，获取专业咨询服务</div>
        <div class="qrcode">
        	<img alt="跨境电商平台_外贸电商建站系统_独立站建站系统-店匠Shoplazza" title="跨境电商平台_外贸电商建站系统_独立站建站系统-店匠Shoplazza" src=" https://assets.shoplazza.com/oss/operation/5efebad0e7c75887fc46d37879490e41.jpeg" />
        </div>
      </div>
    </div>
  </sider>
  {{/is}}
<div class="layout__footer">
  <footer class="footer" >
      <div class="footer__wrapper">
<!--     <section class="footer-submit-ticket is-hidden" data-footer-submit-ticket >
        <div class="h1 footer-submit-ticket__title">
          {{#if settings.toggle_translations}}
            {{dc settings.footer_submit_ticket_title}}
          {{else}}
            {{settings.footer_submit_ticket_title}}
          {{/if}}
        </div>
        <div class="h4 footer-submit-ticket__subtitle">
          {{#if settings.toggle_translations}}
            {{dc settings.footer_submit_ticket_subtitle}}
          {{else}}
            {{settings.footer_submit_ticket_subtitle}}
          {{/if}}
        </div>
        {{link 'new_request' class='btn btn--primary footer-submit-ticket__btn'}}
      </section> -->
      <div class="container-inner footer__inner copy_style">
        <div class="footer__col copyright">
          <p>&copy; {{help_center.name}}</p>
        </div>
        <div class="footer__col footer__col--social-links">
          {{#if settings.toggle_facebook_icon}}
<!--             <a href="{{#if settings.toggle_translations}}{{dc settings.facebook_url}}{{else}}{{settings.facebook_url}}{{/if}}" target="_blank" class="footer-social-link fab fa-facebook-f"></a> -->
          	<a href="{{settings.facebook_url}}" target="_blank" class="footer-social-link fab fa-facebook-f"></a>
          {{/if}}
          {{#if settings.toggle_twitter_icon}}
<!--             <a href="{{#if settings.toggle_translations}}{{dc settings.twitter_url}}{{else}}{{settings.twitter_url}}{{/if}}" target="_blank" class="footer-social-link fab fa-twitter"></a> -->
          	<a href="{{settings.twitter_url}}" target="_blank" class="footer-social-link fab fa-twitter"></a>
          {{/if}}
          {{#if settings.toggle_youtube_icon}}
<!--             <a href="{{#if settings.toggle_translations}}{{dc settings.youtube_url}}{{else}}{{settings.youtube_url}}{{/if}}" target="_blank" class="footer-social-link fab fa-youtube"></a> -->
          	<a href="{{settings.youtube_url}}" target="_blank" class="footer-social-link fab fa-youtube"></a>
          {{/if}}
          {{#if settings.toggle_linkedin_icon}}
<!--             <a href="{{#if settings.toggle_translations}}{{dc settings.linkedin_url}}{{else}}{{settings.linkedin_url}}{{/if}}" target="_blank" class="footer-social-link fab fa-linkedin"></a> -->
          	<a href="{{settings.linkedin_url}}" target="_blank" class="footer-social-link fab fa-linkedin"></a>
          {{/if}}
          {{#if settings.toggle_pinterest_icon}}
<!--             <a href="{{#if settings.toggle_translations}}{{dc settings.pinterest_url}}{{else}}{{settings.pinterest_url}}{{/if}}" target="_blank" class="footer-social-link fab fa-pinterest-p"></a> -->
          	<a href="{{settings.pinterest_url}}" target="_blank" class="footer-social-link fab fa-pinterest-p"></a>
          {{/if}}
          {{#if settings.toggle_instagram_icon}}
<!--             <a href="{{#if settings.toggle_translations}}{{dc settings.instagram_url}}{{else}}{{settings.instagram_url}}{{/if}}" target="_blank" class="footer-social-link fab fa-instagram"></a> -->
          	<a href="{{settings.instagram_url}}" target="_blank" class="footer-social-link fab fa-instagram"></a>
          {{/if}}
        </div>
      </div>
    </div>
  {{#is current_locale.name 'English (US)'}}
    <div class="chatbot-buttons-container">
      <div>
        <div class="close-button">
          <button aria-label="Close message from company">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16">
              <path stroke="currentColor" stroke-linecap="round" d="M3 13L13 3m0 10L3 3"></path>
            </svg>
          </button>
        </div>
        <div class="open-button">
          <button>
            <span>Hi. Need any help?</span>
          </button>
        </div>
      </div>
      <div class="main-button">
        <button data-garden-id="buttons.icon_button" data-garden-version="8.74.0" type="button" shape="circle" aria-label="Open messaging window" class="StyledButton-sc-qe3ace-0 sc-1w3tvxe-1 gCrXwi StyledIconButton-sc-1t0ughp-0 fobdBj">
          <div aria-hidden="false" class="chat-icon">
            <svg position="right" class="sc-1k07fow-1 efLIMe" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M10,18 L6,22 L6,18 L10,18 Z M17,6 C19.7614237,6 22,8.23857625 22,11 C22,13.7614237 19.7614237,16 17,16 L17,16 L7,16 C4.23857625,16 2,13.7614237 2,11 C2,8.23857625 4.23857625,6 7,6 L7,6 Z" transform="translate(12.000000, 14.000000) scale(-1, 1) translate(-12.000000, -14.000000) "></path>
            </svg>
          </div>
          <div aria-hidden="true" class="arrow-icon">
            <svg class="sc-1k07fow-0 ianLkV" xmlns="http://www.w3.org/2000/svg" width="21" height="13" viewBox="0 0 21 13" focusable="false" role="presentation">
              <path fill-rule="evenodd" clip-rule="evenodd" fill="currentColor" d="M20.1005 2.7169L10.9931 11.8244C10.4724 12.3451 9.62815 12.3451 9.10745 11.8244L-8.00829e-06 2.7169L1.88561 0.831278L10.0503 8.99593L18.2149 0.831278L20.1005 2.7169Z"></path>
            </svg>
          </div>
        </button>
      </div>
    </div>
  {{/is}}
  </footer>
</div>

<script>
	var nowLocale = LotusUtils.getLocale()
  if(nowLocale == 'zh-cn') {
  	try {
      (function (w, d, n, a, j) {
        w[n] = w[n] || function () {
          (w[n].a = w[n].a || []).push(arguments);
        };
        j = d.createElement('script');
        j.async = true;
        j.src ='https://qiyukf.com/script/2e6096ccde6aa6244afc3f7fb9fe05f0.js?sdkTemplateId=6637485';
        d.body.appendChild(j);
      })(window, document, 'ysf');
    } catch(e){  }
   try { 
        ysf('onready', function() {
          $('#YSF-BTN-HOLDER').click(function() {
            var $body = $(document.body);
            $body.trigger('track', { eventName: 'online_consult_click' });
          })
        })
   } catch(e){  }
       ysf('config', {
        groupid: '482515689',
        robotShuntSwitch: 1
    });
  }
  else {
  	try {
        (function (w, d, n, a, j) {
          w[n] = w[n] || function () {
            (w[n].a = w[n].a || []).push(arguments);
          };
          j = d.createElement('script');
          j.async = true;
          j.id = 'ze-snippet'
          j.src ='https://static.zdassets.com/ekr/snippet.js?key=dc2e03b4-b65f-48b0-a630-d9c88872d9c4';
          console.log(j)
          d.body.appendChild(j);
        })(window, document, 'ysf');
			} catch(e){  }
	window.zESettings = {
    webWidget: {
        launcher: {
            label: {
                '*': 'Leave a Message',
            },
            chatLabel: {
                '*': 'Live Chat',
            }
        },
        chat: {
            departments: {
                select: 'CS Global',
            },
            offlineForm: {
                greeting: {
                    '*': "We aren't online right now, please leave a message",
                }
            }
        }
    }
};
try {
    zE('webWidget', 'setLocale', 'en-US');
    zE('webWidget:on', 'chat:connected', function() {
        var department = zE('webWidget:get', 'chat:department', 'CS Global');
        var status = department.status;

        if (status === 'offline') {
            zE('webWidget', 'updateSettings', {
                webWidget: {
                    contactForm: {
                        suppress: false,
                        title: {
                            '*': 'Leave a Message',
                        },
                    },
                    launcher: {
                        label: {
                            '*': 'Leave a Message',
                        }
                    },
                    chat: {
                        suppress: true,
                        departments: {
                            select: 'CS Global',
                        }
                    }
                }
            });
            zE('webWidget', 'chat:addTags', 'global_offline_form');
        } else {
            zE('webWidget', 'updateSettings', {
                webWidget: {
                    launcher: {
                        chatLabel: {
                            '*': 'Live Chat',
                        }
                    },
                    chat: {
                        departments: {
                            select: 'CS Global',
                        }
                    }
                }
            });
        }
    });
} catch(e) {}
  }
  </script>

</div>

{{#if settings.toggle_translations}}
  <div hidden data-lt-i18n-dictionary>
    <div data-lt-i18n="search_placeholder">{{dc settings.search_placeholder}}</div>
  </div>

  <script>
    var $ltDictionary = $('[data-lt-i18n-dictionary]');
    $('[role="search"] input[type="search"]').each(function (index, element) {
      $(element).attr('placeholder', $ltDictionary.find('[data-lt-i18n="search_placeholder"]').html());
    });
  </script>
{{/if}}
<script>
  if(nowLocale == 'en-us'){
    $('.search_results_customer_btn').on('click',()=>{
                 zE('messenger', 'show');
  })
  }
  
</script>
<script>
const chatbotContainer = document.querySelector(".chatbot-buttons-container")

const chatbotOpenButton = document.querySelector(".chatbot-buttons-container .open-button button")
const chatbotCloseButton = document.querySelector(".chatbot-buttons-container .close-button button")
const chatbotMainButton = document.querySelector('.chatbot-buttons-container .main-button button')

const chatIcon = document.querySelector('.chat-icon')
const arrowIcon = document.querySelector('.arrow-icon')

let isChatbotClosed = true;

const toggleIcons = () => {
  if(chatIcon.style.top !== "100%"){
    chatIcon.style.top = "100%"
    arrowIcon.style.top = "0%"
    return
  }
  
    chatIcon.style.top = "0%"
    arrowIcon.style.top = "1000%"
}

const hideButtons = () => {
  const container = document.querySelector('.chatbot-buttons-container > div:first-child')
  container.style.visibility = "hidden"
}

const openChatbot = () => {
    zE('messenger', 'open')
}

const closeChatbot = () => {
  zE('messenger', 'close')
}

document.addEventListener("DOMContentLoaded", function() {
  setTimeout(function() {
  chatbotContainer.style.opacity = 1;
  }, 3000); // Show after 3 seconds
});

chatbotCloseButton.onclick = () => {
  hideButtons()
}

chatbotMainButton.onclick = () => {
  // toggleIcons()
  hideButtons()
  
  if(isChatbotClosed){
    openChatbot()
    isChatbotClosed = false
  } else {
    closeChatbot()
    isChatbotClosed = true
  }
}
</script>
<script>
const footerWrapper = document.querySelector('.footer__wrapper');
const footerWrapperNode =document.querySelector('.footer__inner');
const articlePage = document.querySelector('.article-page');
const tempDiv = document.createElement('div');
let html = '';
if(nowLocale == 'zh-cn' && !articlePage) {
	html = `
    <div class="footer_banner">
      <div class="center_box">
        <div class="subtitle">7天0元免费试用，开启独立站增长之旅！</div>
        <div class="title">即刻加入我们全球50W+卖家行列<br>5步即可搭建营销型获客网店</div>
        <a href="https://accounts.shoplazza.com/register" class="register_btn">立即注册试用</a>
      </div>
    </div> 
  `;
} else if (nowLocale == 'en-us' && !articlePage){
  html = `
		<div class="footer_banner">
      <div class="center_box">
        <div class="title">START STRONG, GROW SMART!</div>
        <div class="subtitle">Join thousands of merchants and streamline your journey<br> to success with our all-in-one platform.</div>
        <a href="https://accounts.shoplazza.com/register" class="register_btn">Let's get started</a>
      </div>
    </div> 
  `;
}
tempDiv.innerHTML = html;
footerWrapper.insertBefore(tempDiv, footerWrapperNode);
</script>
<style>
  .footer__wrapper {
  	padding-top: 0px;
  }
  .footer_banner {
  	display: flex;
  	background-image: url('https://assets.shoplazza.com/oss/operation/58aecdd55947e3445c1a1bf7fb3bf0ec.svg');
  	background-position: center;
  	background-repeat: no-repeat;
  	margin: 80px 0;
  	aspect-ratio: 1440 / 428;
  	background-size: cover;
  }
	.center_box {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  }
  .center_box .subtitle {
  	color: #222;
  	width: 100%;
    text-align: center;
    font-family: "HarmonyOS Sans SC";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  	white-space: break-spaces; 
  }
  .center_box .title {
  	color: #222;
  	width: 100%;
    text-align: center;
  	margin-top: 20px;
    font-family: "HarmonyOS Sans SC";
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 140%; 
    text-transform: uppercase;
  }
  .center_box .register_btn {
  	margin-top: 40px;
  	color: #fff;
  	display: flex;
  	padding: 11px 24px;
  	justify-content: center;
    align-items: center;
    gap: 10px;
 		height: 46px;
  	border-radius: 4px;
  	background-color: #222;
  }
  .bg_img {
  	width: 100%;
  }
  .copy_style {
  	padding: 48px 56px;
  	border-top: 1px solid rgba(0, 0, 0, 0.10);
  }
  @media (min-width: 768px) {
    .footer__wrapper {
  		padding-top: 0px;
  	}
  }
  @media (max-width: 768px) {
  	.footer_banner {
  		background-image: url('https://assets.shoplazza.com/oss/operation/de675f651572f9e531249234cf27d346.svg');
  		aspect-ratio: 390 / 200;
  		margin: 40px 0 96px 0;
  		padding: 0px;
  	}
  	.center_box {
  		padding-top: 44px;
  	}
    .center_box .subtitle {
  		font-size: 14px;
  	}
  	.center_box .title {
  		font-size: 24px;
  		line-height: 150%;
  		margin-top: 10px;
 		}
  	.center_box .register_btn {
  		font-size: 18px;
  		line-height: 100%;
  		margin-top: 20px;
  		-webkit-text-stroke-width: 1;
			-webkit-text-stroke-color: #000;
  	}
		.footer__inner {
  		display: flex;
  		flex-direction: column;
  		align-items: flex-start;
  		padding: 40px 20px;
  	}
  	.footer__col {
  		text-align: justify;
  	}
  	.copyright p {
  		margin-bottom: 28px;
  	}
  }
</style>
<style>
  .sider_fix {
  	position: fixed;
  	top: 50%;
  	right: 20px;
  	height: auto;
  	transform: translateY(-50%);
  	z-index: 30;
  	border: 1px solid #f00;
  	border-radius: 6px;
  }
  .border-bottom {
    border-bottom: 1px solid #f00;
  }
  .radius-top {
  	border-radius: 6px 6px 0 0;
  }
  .radius-bottom {
  	border-radius: 0 0 6px 6px;
  }
  .sider_fix .sider_item {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 6px;
  	padding: 12px 10px;
    cursor: pointer;
  	background: rgb(255, 255, 255);
		backdrop-filter: blur(10px);
  }
  .sider_fix .sider_text {
    color: #222;
    font-family: "HarmonyOS Sans SC";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.3px;
  }
  .sider_fix .wechat {
  	box-sizing: content-box;
  	position: absolute;
  	top: 0;
  	right: 100%;
  	visibility: hidden;
  	padding: 20px;
  	margin: 15px;
  	width: 125px;
  	background-color: #fff;
  }
  .sider_fix .wechat::after {
  	position: absolute;
  	top: 10px;
  	left: 100%;
  	content: '';
    width: 16px;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent #fff;
  }
  .sider_fix .wechat .word {
  	width: 100%;
    height: auto;
    text-align: center;
    font-size: 12px;
  	color: #222;
    font-family: 'HarmonyOS_Sans_SC';
  }
  .sider_fix .wechat .qrcode {
  	margin: 10px auto 0;
  }
</style>
<script>
  const wechatBox = document.querySelectorAll('.sider_item')[1];
  const wechatDOM = document.querySelector('.wechat');
    console.log(wechatDOM);
  if(wechatDOM) {
    wechatBox.addEventListener('mouseenter', () => {
      wechatDOM.style.visibility = 'visible';
    });
    wechatBox.addEventListener('mouseleave', () => {
      wechatDOM.style.visibility = 'hidden';
    });
  }
</script>
  <!-- 引入官网的免费试用   -->
<script>
  window.SHOPLAZZA = {
    "image_domain": "//cdn.shoplazza.com/",
    "payment_settings": {
        "paypal_express_enabled": false,
        "dynamic_config": {
            "paypal_js_sdk_url": "https://www.paypal.com/sdk/js?client-id=AUwoRlv3iZ3jt3o3hhcft_tZ5g6tvefEpjCf9YNGeH7q8p_WraleitkKfLnWIs8HLpzalgRA5AMT0BYO&currency=USD&disable-funding=card%2Cbancontact%2Cblik%2Ceps%2Cgiropay%2Cideal%2Cmercadopago%2Cmybank%2Cp24%2Csepa%2Csofort%2Cvenmo"
        }
    },
    "sa_server_url": "https://r.shoplazza.com/sa?project=production&store_id=325196",
    "sa_web_url": "https://r.shoplazza.com/?store_id=325196",
    "routes": {
        "root": ""
    },
    "currency_code": "USD",
    "currency_symbol": "$",
    "currency_symbol_pos": "left",
    "theme": {
        "theme_id": "18f49cc1-7b48-4781-be99-443fe793c9aa",
        "theme_version_id": "1",
        "merchant_theme_name": "Nova 2023",
        "theme_preset": "",
        "updated_at": "2023-10-18 07:13:19",
        "support_block": true,
        "support_app_block": false
    },
    "customer": {
        "customer_id": null,
        "customer_phone": null,
        "customer_email": null
    },
    "shop": {
        "shop_id": "325196",
        "shop_env": 0,
        "shop_name": "店匠",
        "finance": 1,
        "cdn_domain": "//static.shoplazza.com/",
        "image_domain": "//cdn.shoplazza.com/",
        "wholesale_enabled": false
    },
    "meta": {
        "page": {
            "template_name": "index",
            "template_type": 15
        }
    },
    "money_format": "amount",
    "slug": "dj-cn",
    "CLIENT_SENTRY_DSN": "https://997ed588b4b24ed4b821c4194a72cce2@sentry.shoplazza.com/5",
    "region": "cn",
    "store_plan": "pro",
    "store_trial": false,
    "password_enabled": false,
    "namespace": "production",
    "market": {
        "market_id": "256299230618980940",
        "market_currency": "USD",
        "market_lang": "zh-CN",
        "market_currency_symbol": {
            "code": "USD",
            "val": "$",
            "left": "$",
            "right": ""
        },
        "market_base_currency": "USD",
        "market_base_currency_symbol": {
            "code": "USD",
            "val": "$",
            "left": "$",
            "right": ""
        },
        "primary_market_id": "256299230618980940",
        "primary_market_currency": "USD",
        "primary_market_currency_symbol": {
            "code": "USD",
            "val": "$",
            "left": "$",
            "right": ""
        },
        "primary_market_lang": "zh-CN",
        "market_price_setting": {
            "local_currency_enabled": false,
            "custom_rate_enabled": false,
            "custom_rate": 0,
            "rate": 1,
            "back_rate": 1,
            "actual_rate": 1,
            "base_to_local": 0,
            "local_to_base": 0,
            "adjust": 0,
            "price_round_enabled": true
        },
        "market_domain": {
            "domain_type": "primary",
            "domain_value": "",
            "redirect_enabled": false,
            "url": "https://www.shoplazza.cn"
        }
    },
    "app_root_domain": "shoplazza.com",
    "product_snippet_prefix": "shoplazza-product-snippet",
    "section_prefix": "shoplaza-section"
}
if(language === 'zh-cn') {
try {
  $(function(){
    var $ = window.jQuery;
    var container = document.createElement('div');
    container.id = 'register-modal-container';
    container.style.display = 'none';
    document.body.appendChild(container);

    window.ENV = window.ENV || {};
    window.ENV._clientID = window.ENV._clientID || 'b7993dcd-b4fe-4083-ad39-d9ba9405b0a9';
    window.ENV.DRAGON_FLAG_GTAG_CONVERSION_ID = window.ENV.DRAGON_FLAG_GTAG_CONVERSION_ID || 'AW-10775189850';
    // 加载弹窗的脚本
    var s = document.createElement("script");
  	s.src="https://assets.shoplazza.com/oss/operation/cd3c904488c6939adcdeb3a01e7cf86c.js";
    document.body.appendChild(s);
    s.onload = function(){
      if (!document.getElementById('register-modal-container').childNodes.length) {
        window.registerModal.mount({source:""});
      }
    }

    $('a[href*="https://accounts.shoplazza.com/register"]').addClass("register-entry").attr("data-safe-href","prevent");

    $(document.body).on("click",'a[href*="https://accounts.shoplazza.com/register"]',function(e){
      e.preventDefault();
      e.stopPropagation();
      if (!document.getElementById('register-modal-container').childNodes.length) {
        window.registerModal.mount({source:""});
      }
      localStorage.register_source = e.currentTarget.getAttribute("data-register-track")||"";
      document.getElementById('register-modal-container').style.display = 'block';
    }).on("click",".page__close-icon",function(e){
      document.getElementById('register-modal-container').style.display = 'none';
      window.registerModal.destroy();
      document.getElementById('register-modal-container').innerHTML = '';
    });
  });
} catch (e) { console.error(e); }
} else if(language === 'en-us'){
<!-- TODO: 英文官网的弹窗部分 -->
  try {
  	  $(function () {
    var entry = "https://assets.shoplazza.com/oss/operation/9f1c6e3c6844fa569aaed189fa05676a.js";
    window.ENV = window.ENV || {}; 
  	window.ENV._clientID = window.ENV._clientID || "b298fc6a-5589-4098-bf5c-d1a69a849dc3"; 
  	window.ENV.DRAGON_FLAG_GTAG_CONVERSION_ID = window.ENV.DRAGON_FLAG_GTAG_CONVERSION_ID || "AW-10792081100"
    $("<div id='register-modal-container' style='display:none'></div>").appendTo(document.body);
    $('a[href*="https://accounts.shoplazza.com/register"],a[href*="https://sso.shoplazza.com/register"]').addClass("register-entry").attr("data-safe-href","prevent");
    var s = document.createElement("script");
    s.id = "grebe";
    s.src = entry;
    document.body.appendChild(s);
    $(document.body).on("click", 'a[href*="https://accounts.shoplazza.com/register"],a[href*="https://sso.shoplazza.com/register"]', function (e) {
      new Promise(function (resolve) {
        if (window.registerModal) return resolve();
        if (document.getElementById("grebe")) { // loading
          return document.getElementById("grebe").addEventListener("load", resolve, false);
        }
        var s = document.createElement("script");
        s.id = "grebe";
        s.src = entry;
        s.onload = resolve;
        document.body.appendChild(s);
      }).then(function () {
        $("#register-modal-container").children().length || registerModal.mount();
        $("#register-modal-container").show();
      });
      e.preventDefault();
      e.stopPropagation();
    }).on("click", "#register-modal-container .page__close-icon", function (e) {
      window.registerModal && window.registerModal.destroy();
      $("#register-modal-container").hide().html('');
    })
  })
  } catch(e) {
  	console.log(e)
  }
}
</script>
<script>
  window.onload = function(){
    const translationIcon = document.querySelector('.nav_link img.icon')
    if(!translationIcon) return
    translationIcon.alt = "i18-icon"
  }
</script>
<script>
  window.onload = function(){
    const images = document.querySelectorAll('img')
    const title = document.querySelector('.article__title')
    images?.forEach((image, index)=> {
      if(image.alt !== "") return
 
      if(title?.textContent) return image.alt = `${title.textContent.trim()}-${index}`
      
      image.alt = image.src
    })
  }
</script>
