<div class="home-page extra-style" data-home-page id="main-content">
  {{#if settings.toggle_custom_blocks}}
    <div class="container main-wrapper home-page__section custom-blocks" id="custom-blocks">
      <div class="container-inner">
        <div class="row custom-blocks__items" >
          {{#isnt settings.custom_block_1_type 'hidden'}}
            <div class="column column--sm-6 column--md-3 custom-block">
              {{#is settings.custom_block_1_type 'custom'}}
                <a class="custom-block__link"
                  href="{{#if settings.toggle_translations}}{{dc settings.custom_block_1_url}}{{else}}{{settings.custom_block_1_url}}{{/if}}">
                  <div class="custom-block__icon">
                    <img class="custom-block__image"
                        src="{{settings.custom_block_1_icon}}" alt="">
                  </div>
                  <h4 class="custom-block__title">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_1_title}}
                    {{else}}
                      {{settings.custom_block_1_title}}
                    {{/if}}
                  </h4>
                  <p class="custom-block__description">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_1_description}}
                    {{else}}
                      {{settings.custom_block_1_description}}
                    {{/if}}
                  </p>
                </a>
              {{/is}}
              {{#is settings.custom_block_1_type 'community'}}
                {{#link 'community' class='custom-block__link'}}
                  <div class="custom-block__icon">
                    <img class="custom-block__image"
                        src="{{settings.custom_block_1_icon}}" alt="">
                  </div>
                  <h4 class="custom-block__title">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_1_title}}
                    {{else}}
                      {{settings.custom_block_1_title}}
                    {{/if}}
                  </h4>
                  <p class="custom-block__description">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_1_description}}
                    {{else}}
                      {{settings.custom_block_1_description}}
                    {{/if}}
                  </p>
                {{/link}}
              {{/is}}
              {{#is settings.custom_block_1_type 'submit_a_request'}}
                {{#link 'new_request' class='custom-block__link'}}
                  <div class="custom-block__icon">
                    <img class="custom-block__image"
                        src="{{settings.custom_block_1_icon}}" alt="">
                  </div>
                  <h4 class="custom-block__title">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_1_title}}
                    {{else}}
                      {{settings.custom_block_1_title}}
                    {{/if}}
                  </h4>
                  <p class="custom-block__description">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_1_description}}
                    {{else}}
                      {{settings.custom_block_1_description}}
                    {{/if}}
                  </p>
                {{/link}}
              {{/is}}
            </div>
          {{/isnt}}

          {{#isnt settings.custom_block_2_type 'hidden'}}
            <div class="column column--sm-6 column--md-3 custom-block">
              {{#is settings.custom_block_2_type 'custom'}}
                <a class="custom-block__link"
                  href="{{#if settings.toggle_translations}}{{dc settings.custom_block_2_url}}{{else}}{{settings.custom_block_2_url}}{{/if}}">
                  <div class="custom-block__icon">
                    <img class="custom-block__image"
                        src="{{settings.custom_block_2_icon}}" alt="">
                  </div>
                  <h4 class="custom-block__title">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_2_title}}
                    {{else}}
                      {{settings.custom_block_2_title}}
                    {{/if}}
                  </h4>
                  <p class="custom-block__description">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_2_description}}
                    {{else}}
                      {{settings.custom_block_2_description}}
                    {{/if}}
                  </p>
                </a>
              {{/is}}
              {{#is settings.custom_block_2_type 'community'}}
                {{#link 'community' class='custom-block__link'}}
                  <div class="custom-block__icon">
                    <img class="custom-block__image"
                        src="{{settings.custom_block_2_icon}}" alt="">
                  </div>
                  <h4 class="custom-block__title">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_2_title}}
                    {{else}}
                      {{settings.custom_block_2_title}}
                    {{/if}}
                  </h4>
                  <p class="custom-block__description">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_2_description}}
                    {{else}}
                      {{settings.custom_block_2_description}}
                    {{/if}}
                  </p>
                {{/link}}
              {{/is}}
              {{#is settings.custom_block_2_type 'submit_a_request'}}
                {{#link 'new_request' class='custom-block__link'}}
                  <div class="custom-block__icon">
                    <img class="custom-block__image"
                        src="{{settings.custom_block_2_icon}}" alt="">
                  </div>
                  <h4 class="custom-block__title">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_2_title}}
                    {{else}}
                      {{settings.custom_block_2_title}}
                    {{/if}}
                  </h4>
                  <p class="custom-block__description">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_2_description}}
                    {{else}}
                      {{settings.custom_block_2_description}}
                    {{/if}}
                  </p>
                {{/link}}
              {{/is}}
            </div>
          {{/isnt}}

          {{#isnt settings.custom_block_3_type 'hidden'}}
            <div class="column column--sm-6 column--md-3 custom-block">
              {{#is settings.custom_block_3_type 'custom'}}
                <a class="custom-block__link"
                  href="{{#if settings.toggle_translations}}{{dc settings.custom_block_3_url}}{{else}}{{settings.custom_block_3_url}}{{/if}}">
                  <div class="custom-block__icon">
                    <img class="custom-block__image"
                        src="{{settings.custom_block_3_icon}}" alt="">
                  </div>
                  <h4 class="custom-block__title">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_3_title}}
                    {{else}}
                      {{settings.custom_block_3_title}}
                    {{/if}}
                  </h4>
                  <p class="custom-block__description">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_3_description}}
                    {{else}}
                      {{settings.custom_block_3_description}}
                    {{/if}}
                  </p>
                </a>
              {{/is}}
              {{#is settings.custom_block_3_type 'community'}}
                {{#link 'community' class='custom-block__link'}}
                  <div class="custom-block__icon">
                    <img class="custom-block__image"
                        src="{{settings.custom_block_3_icon}}" alt="">
                  </div>
                  <h4 class="custom-block__title">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_3_title}}
                    {{else}}
                      {{settings.custom_block_3_title}}
                    {{/if}}
                  </h4>
                  <p class="custom-block__description">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_3_description}}
                    {{else}}
                      {{settings.custom_block_3_description}}
                    {{/if}}
                  </p>
                {{/link}}
              {{/is}}
              {{#is settings.custom_block_3_type 'submit_a_request'}}
                {{#link 'new_request' class='custom-block__link'}}
                  <div class="custom-block__icon">
                    <img class="custom-block__image"
                        src="{{settings.custom_block_3_icon}}" alt="">
                  </div>
                  <h4 class="custom-block__title">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_3_title}}
                    {{else}}
                      {{settings.custom_block_3_title}}
                    {{/if}}
                  </h4>
                  <p class="custom-block__description">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_3_description}}
                    {{else}}
                      {{settings.custom_block_3_description}}
                    {{/if}}
                  </p>
                {{/link}}
              {{/is}}
            </div>
          {{/isnt}}

          {{#isnt settings.custom_block_4_type 'hidden'}}
            <div class="column column--sm-6 column--md-3 custom-block">
              {{#is settings.custom_block_4_type 'custom'}}
                <a class="custom-block__link"
                  href="{{#if settings.toggle_translations}}{{dc settings.custom_block_4_url}}{{else}}{{settings.custom_block_4_url}}{{/if}}">
                  <div class="custom-block__icon">
                    <img class="custom-block__image"
                        src="{{settings.custom_block_4_icon}}" alt="">
                  </div>
                  <h4 class="custom-block__title">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_4_title}}
                    {{else}}
                      {{settings.custom_block_4_title}}
                    {{/if}}
                  </h4>
                  <p class="custom-block__description">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_4_description}}
                    {{else}}
                      {{settings.custom_block_4_description}}
                    {{/if}}
                  </p>
                </a>
              {{/is}}
              {{#is settings.custom_block_4_type 'community'}}
                {{#link 'community' class='custom-block__link'}}
                  <div class="custom-block__icon">
                    <img class="custom-block__image"
                        src="{{settings.custom_block_4_icon}}" alt="">
                  </div>
                  <h4 class="custom-block__title">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_4_title}}
                    {{else}}
                      {{settings.custom_block_4_title}}
                    {{/if}}
                  </h4>
                  <p class="custom-block__description">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_4_description}}
                    {{else}}
                      {{settings.custom_block_4_description}}
                    {{/if}}
                  </p>
                {{/link}}
              {{/is}}
              {{#is settings.custom_block_4_type 'submit_a_request'}}
                {{#link 'new_request' class='custom-block__link'}}
                  <div class="custom-block__icon">
                    <img class="custom-block__image"
                        src="{{settings.custom_block_4_icon}}" alt="">
                  </div>
                  <h4 class="custom-block__title">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_4_title}}
                    {{else}}
                      {{settings.custom_block_4_title}}
                    {{/if}}
                  </h4>
                  <p class="custom-block__description">
                    {{#if settings.toggle_translations}}
                      {{dc settings.custom_block_4_description}}
                    {{else}}
                      {{settings.custom_block_4_description}}
                    {{/if}}
                  </p>
                {{/link}}
              {{/is}}
            </div>
          {{/isnt}}

        </div>
      </div>
    </div>
  {{/if}}
  
  {{#if settings.toggle_promoted_articles}}
    <div class="container home-page__section promoted-articles-section" id="promoted-articles">
      <div class="container-inner">
          <section class="promoted-articles">
            <h2 class="promoted-articles__title">{{t 'promoted_articles'}}</h2>
            <ul class="promoted-articles__list row">
              {{#each promoted_articles}}
                <li class="promoted-articles-item column column--xs-12 column--sm-6 column--lg-4">
                  <span class="fas fa-star" title="{{t 'promoted'}}"></span>
                  <div class="promoted-articles-item__content ">
                    <a class="promoted-articles-item__title" href="{{url}}">{{title}}</a>
                    <p class="meta">{{excerpt body characters=80}}</p>
                  </div>
                </li>
              {{/each}}
            </ul>
        </section>
      </div>
    </div>
  {{/if}}
   {{#if settings.toggle_category_list}}
    <div class="container container--grey  home-page__section clearfix"  id="block-list"></div>
    {{!-- <div id="panrui-test"></div> --}}
   {{/if}}
  {{!-- <div class="container container--grey  home-page__section clearfix"  id="block-list">
    <div class="container-inner">
      {{#if settings.toggle_category_list}}
        <h2 class="block-list-title">{{t 'knowledge_base'}}</h2>
        <ul class="row block-list">
          {{#each categories}}
          {{#if ../has_multiple_categories}}
              <li class="column column column--sm-6 block-list-item" id="category-{{id}}">
                <a class="block-list-item__link" href="{{url}}">
                  <div class="block-list-item__icon">
                    <img data-lotus-icon="{{id}}" />
                  </div>
                  <h2 class="h5 block-list-item__title">{{name}}</h2>
                  <p class="meta categoryDescription">{{description}}</p>
                </a>
              </li>
            {{else}}
              {{#each sections}}
                <li class="column column column--sm-6 block-list-item" id="section-{{id}}">
                  <a class="block-list-item__link" href="{{url}}">
                    <div class="block-list-item__icon">
                      <img data-lotus-icon="{{id}}" />
                    </div>
                    <h2 class="h5 block-list-item__title">{{name}}</h2>
                    <p class="meta">{{description}}</p>
                  </a>
                </li>
              {{/each}}
                      {{/if}}
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </div> --}}
  <script>
    var language = LotusUtils.getLocale();
$.getJSON(`/api/v2/help_center/${language}/categories.json`).done((response) => {
// 页面架构
var home_page_title = [{
  en_firstTitle:'Start',
  zh_firstTitle:'开始',
  ul_content:[]
},{
  en_firstTitle:'Solution',
  zh_firstTitle:'解决方案',
  ul_content:[]

},
{
  en_firstTitle:'Sell',
  zh_firstTitle:'销售',
  ul_content:[]

},
{
  en_firstTitle:'Manage',
  zh_firstTitle:'管理',
  ul_content:[]

},{
  en_firstTitle:'More',
  zh_firstTitle:'更多',
  ul_content:[]

}]
//定义菜单列表
var startContent = ['开始建站','迁移到Shoplazza','Store Launch','Migrate to Shoplazza']
var solutionContent = ['支付解决方案','一代发货','物流','更多解决方案','税费解决方案','收款和税费','COD货到付款','Payment solution','Dropshipping','Shipping','More solution','Tax solution', 'Payment and Tax','Cash on Delivery','COD货到付款解决方案',"Cash on delivery solution","Point of Sale","Eyewear"]
var sellContent = ['在线商店','销售渠道','Online Store','Sales Channels']
//var knowLedgeContent = ['店铺设置','在线商店','App安装','更多功能','Settings','Online store','Add app','More features']
var knowLedgeContent = ['设置','商品','订单','营销','数据','客户','应用市场','账户管理','Settings','Products','Orders','Marketing and Promotions','Data Analytics','Customers','Add App','Account Management',]
var FAQContent = ['支付','营销','应用市场常见问题','更多常见问题','Payment','Marketing','Questions about apps','More questions']
var moreContent = ['合作伙伴','Shoplazza博客','Partners','Shoplazza Blogs']
var allCategoriesList = response.categories
var conversionSymbol =function(oldStr)  {
   var reg = /[\（]/g,reg2 = /[\）]/g;
    return  oldStr.replace(reg,"(").replace(reg2,")");
}
var expandNameArr = []
var otherNameArr = []
allCategoriesList.forEach( (item,index) =>{
  const newExpandName = conversionSymbol(item.name)
  if(newExpandName == 'App安装'||newExpandName == '应用市场常见问题'||newExpandName == 'Add app'||newExpandName == 'Questions about apps'||newExpandName == '更多解决方案' || newExpandName == 'More solution' || newExpandName == '更多功能' || newExpandName == 'More features' ||newExpandName == '更多常见问题' || newExpandName == 'More questions' ) {
    expandNameArr.splice(index,1)
    expandNameArr.push(item)
  }else {
    otherNameArr.push(item)
  }
})
otherNameArr.push(...expandNameArr)
// 设置icon
otherNameArr.forEach(item=> {
  if(startContent.includes(conversionSymbol(item.name))) {
    if(item.name == '开始建站' || item.name  == 'Store Launch') {
      item.title_icon_img = 'https://static.staticdj.com/oss/operation/b021b345ae631617fc80a3d6149adb74.svg'
    }else if(item.name == '迁移到Shoplazza' || item.name == 'Migrate to Shoplazza' ) {
       item.title_icon_img = 'https://static.staticdj.com/oss/operation/a90041f7807490420efb380167a2de74.svg'
    }
    home_page_title[0].ul_content.push(item)
  } if(solutionContent.includes(conversionSymbol(item.name))){

    if(item.name == '支付解决方案' || item.name  == 'Payment solution') {
      item.title_icon_img = ' https://assets.shoplazza.com/oss/operation/fe0ab87b73e2f008cd3e5224334154d1.png'
    }else if(item.name == '一代发货' || item.name == 'Dropshipping' ) {
       item.title_icon_img = 'https://static.staticdj.com/oss/operation/3fbf9a11bd69a3d96f0c8c258f6b805b.svg'
    }else if(item.name == '物流' || item.name == 'Shipping' ) {
       item.title_icon_img = 'https://assets.shoplazza.com/oss/operation/50b3fce2fcd418dfbb3e4c8e4f92f11a.png'
    }else if(conversionSymbol(item.name) == '更多解决方案' || conversionSymbol(item.name) == 'More solution' ) {
       item.title_icon_img = 'https://assets.shoplazza.com/oss/operation/371896893af45b55591761dd1b9f3930.png'
    }else if(conversionSymbol(item.name) == '税费解决方案' || conversionSymbol(item.name) == 'Tax solution' ) {
       item.title_icon_img = 'https://assets.shoplazza.com/oss/operation/9b7a7214658f96073e1716d6f46766db.png'
    }
    else if(conversionSymbol(item.name) == '收款和税费' || conversionSymbol(item.name) == 'Payment and Tax' ) {
       item.title_icon_img = 'https://static.staticdj.com/oss/operation/136665b62fab8b5de6c4b5f013b49433.svg'
    }
    else if(conversionSymbol(item.name) == 'COD货到付款' || conversionSymbol(item.name) == 'Cash on Delivery' ) {
       item.title_icon_img = 'https://static.staticdj.com/oss/operation/2e7d3764232d1a39fe65aab775624439.svg'
    }
    else if(conversionSymbol(item.name) == 'COD货到付款解决方案' || conversionSymbol(item.name) == 'Cash on delivery solution' ) {
       item.title_icon_img = 'https://assets.shoplazza.com/oss/operation/82d78ff43e515820d2e959a368284be9.png'
    }
    else if(conversionSymbol(item.name) == 'Point of Sale') {
       item.title_icon_img = 'https://static.staticdj.com/oss/operation/dcda778cd4754aec067eb406667b45db.svg'
    }
    else if(conversionSymbol(item.name) == 'Eyewear') {
       item.title_icon_img = 'https://static.staticdj.com/oss/operation/ac989cca007730a4aaca3cd808812d1c.svg'
    }
    conversionSymbol(item.name) =='更多解决方案' ? item.name = '更多' : conversionSymbol(item.name) == 'More solution' ? item.name = 'Expand' : item.name
    home_page_title[1].ul_content.push(item)
  } 
  if(sellContent.includes(conversionSymbol(item.name))){
    if(item.name == '在线商店' || item.name  == 'Online Store') {
      item.title_icon_img = ' https://static.staticdj.com/oss/operation/523e87f31da6e8300128fb0341141c51.svg'
    }else if(item.name == '销售渠道' || item.name == 'Sales Channels' ) {
       item.title_icon_img = 'https://static.staticdj.com/oss/operation/42f340b21915f7caadc36d14225c4b66.svg'
    }
    home_page_title[2].ul_content.push(item)
  }
  if(knowLedgeContent.includes(conversionSymbol(item.name))){
     if(item.name == '设置' || item.name  == 'Settings') {
      item.title_icon_img = 'https://static.staticdj.com/oss/operation/4fb94ca4c8e17124d24c12bf848340ed.svg'
    }else if(item.name == '商品' || item.name == 'Products' ) {
       item.title_icon_img = 'https://static.staticdj.com/oss/operation/22441ccd9b3efc522b41cef42127389f.svg'
    }else if(item.name == '订单' || item.name == 'Orders' ) {
       item.title_icon_img = 'https://static.staticdj.com/oss/operation/1d5e09b34b8ffbf50af93f5260086ee4.svg'
    }else if(item.name == '营销' || item.name == 'Marketing and Promotions' ) {
       item.title_icon_img = 'https://static.staticdj.com/oss/operation/c20362ad0c72375592c420fd18fb0def.svg'
    }else if(item.name == '数据' || item.name == 'Data Analytics' ) {
       item.title_icon_img = 'https://static.staticdj.com/oss/operation/647c896d350209762d45408213295409.svg'
    }else if(item.name == '客户' || item.name == 'Customers' ) {
       item.title_icon_img = 'https://static.staticdj.com/oss/operation/7f095edc44bab7de8765cad0d2473746.svg'
    }else if(item.name == '应用市场' || item.name == 'Add App' ) {
       item.title_icon_img = 'https://static.staticdj.com/oss/operation/0e83c16c11894cac2b88eb255c35949a.svg'
    }else if(item.name == '账户管理' || item.name == 'Account Management' ) {
       item.title_icon_img = 'https://static.staticdj.com/oss/operation/1e96ad8406fe5c809f35665e11d48e80.svg'
    }

    conversionSymbol(item.name) =='更多功能' ? item.name = '更多' : conversionSymbol(item.name) == 'More features' ? item.name = 'Expand' : item.name
    conversionSymbol(item.name) =='App安装' ? item.name = '应用市场' : conversionSymbol(item.name) == 'Add app' ? item.name = 'Apps' : item.name
    home_page_title[3].ul_content.push(item)
  } if(moreContent.includes(conversionSymbol(item.name))){
    if(item.name == '合作伙伴' || item.name  == 'Partners') {
      item.title_icon_img = 'https://static.staticdj.com/oss/operation/574bacc439244a598b81c7ae68054420.svg'
    }else if(item.name == 'Shoplazza博客' || item.name == 'Shoplazza Blogs' ) {
       item.title_icon_img = 'https://static.staticdj.com/oss/operation/6c6a593413b3a76b95f5ffc3ed414335.svg'
    }
    home_page_title[4].ul_content.push(item)
  }
})
var html = ''
var zh_cn_blog = 'https://www.shoplazza.cn/pages/blog'
var en_ch_blog = 'https://blog.shoplazza.com'
home_page_title.forEach(item=>{
  html+=`
  <div class="container-inner cate-bottom">
   <h2 class="block-list-title row">${language=='zh-cn'?item.zh_firstTitle:item.en_firstTitle}</h2>
  <ul class="row block-list">
  `
  item.ul_content.forEach(res => {
    html+= `<li class="cate-item column--sm-6 block-list-item" id="category-${res.id}">
    <a class="block-list-item__link" href="${res.name =='Shoplazza博客'?zh_cn_blog:res.name =='Shoplazza Blogs'? en_ch_blog : res.html_url}">
      <div class="block-list-item__icon">
        <img data-lotus-icon="${res.id}" class="home_page_title_icon" src="${res.title_icon_img}" alt="${res.name}"/>
      </div>
      <div style="margin-left: 20px;">
				<h2 class="h5 block-list-item__title">${res.name}</h2>
      	<p class="meta categoryDescription" >${res.description}</p>
      </div>
    </a>
  </li>`
  })
  html+=' </ul>'
  html+=' </div>'
})
var new_block_list_content = document.getElementById('block-list')
    new_block_list_content.innerHTML= html
})
  </script>
<style>
  .extra-style {
  	padding:8px 90px;
  }
  .extra-style .block-list-item__link {
  	border-top: 1px solid #0E0E0E;
  	border-radius: 0;
  	display: flex;
  	padding:20px 0;
  	margin-top: 32px;
  }
  .block-list-item__link:hover {
  	background:  transparent;
  }
  .extra-style .block-list-item__icon {
  	left: 0px;
  	position: relative;
  }
  .extra-style .block-list-item__icon img {
  	max-width: max-content;
  }
  .block-list-item__title {
		width: fit-content;
  	font-size: 18px;
  	font-family: "HarmonyOS Sans SC";
 		color: #0E0E0E;
  	border-bottom: 1px solid transparent; /* 初始下边框透明 */
  	transition: all 1s ease-in-out;
  }
.block-list-item__title:hover {
  border-bottom: 1px solid #0E0E0E;
}
.cate-item:nth-child(2n) {
  padding:0 0 0 13px;
}
.cate-item:nth-child(2n-1) {
  	padding: 0 13px 0 0;
}
.block-list-title {
  font-weight: 700;
  text-align: left;
  margin-bottom: 0px;
}
#block-list .cate-bottom {
  margin-bottom:48px;
}
@media (max-width: 768px) {
  .extra-style {
  	padding: 40px 20px;
  }
  #block-list .cate-bottom {
  	margin-bottom: 40px;
  }
  .block-list-item__title {
  	margin-bottom: 12px;
  }
  .cate-item:nth-child(2n) {
  	padding: 0;
  }
  .block-list-title {
  	font-size: 24px;
  }
}
</style>
</div>

